{% extends "DashboardBundle:Layouts:layout.html.twig"%}
{% block stylessheets %}
	{{ parent() }}
	
{% endblock %}
{% block content %}
	{{ parent() }}
<div class="col-lg-5 col-lg-offset-1 box-form"> 
	    <p class="h4 text-center mb-4">Editar Producto {{product.name}} del Restaurante {{product.restaurant.name}}</p>

	<hr/>
	

	{{form_start(form,{'action':'','method':'POST'})}}
	<div class="md-form">
		{{ form_label(form.name) }}
		{{form_widget(form.name)}}
		{{form_errors(form.name)}}
	</div>
	<div class="md-form">
		{{ form_label(form.description) }}
		{{form_widget(form.description)}}
		{{form_errors(form.description)}}
	</div>
	<div class="md-form">
		{{ form_label(form.price) }}
		{{form_widget(form.price)}}
		{{form_errors(form.price)}}
	</div>
	<div class="md-form">
		{{ form_label(form.type) }}
		{{form_widget(form.type)}}
		{{form_errors(form.type)}}
	</div>
	
	
	
	{{form_errors(form)}}
	<center>
	{{ form_widget(form.boton, { 'label': 'Actualizar' }) }}
	{{form_end(form)}}
	</center>


	<script>
		$('.my-time-picker').pickatime({});
	 $(document).ready(function() {
		 
		 
		 
		 
    $('.mdb-select').material_select();
  });	
	</script>

</div>
{% endblock%}

 