{% extends "DashboardBundle:Layouts:layout.html.twig"%}
{% block stylessheets %}
	{{ parent() }}

{% endblock %}
{% block content %}
	{{ parent() }}
	<div class="col-lg-5 col-lg-offset-1 box-form"> 
		<p class="h4 text-center mb-4">Registrar nuevo Restaurante</p>
		<hr/>


		{{form_start(form,{'action':'','method':'POST'})}}
		{{form_label(form.image)}}
		<div class="md-form">

			{{form_widget(form.image)}}
		</div>
		<div class="md-form">
			{{form_label(form.name)}}
		{{form_widget(form.name)}}
		{{form_errors(form.name)}}
		</div>
		<div class="md-form">
			{{form_label(form.description)}}
		{{form_widget(form.description)}}
		{{form_errors(form.description)}}
		</div>
		<div class="md-form">
			{{form_label(form.category)}}
		{{form_widget(form.category)}}
		{{form_errors(form.category)}}
		</div>
		<div class="md-form">
			{{form_label(form.minOrder)}}
		{{form_widget(form.minOrder)}}
		{{form_errors(form.minOrder)}}
		</div>
		<div class="md-form">
			{{form_label(form.deliveryCost)}}
		{{form_widget(form.deliveryCost)}}
		{{form_errors(form.deliveryCost)}}
		</div>

		<div class="md-form">
			{{form_label(form.street)}}
		{{form_widget(form.street)}}
		{{form_errors(form.street)}}
		</div>
		<div class="md-form">
			{{form_label(form.num)}}
		{{form_widget(form.num)}}
		{{form_errors(form.num)}}
		</div>
		<div class="md-form">
			{{form_label(form.postCode)}}
		{{form_widget(form.postCode)}}
		{{form_errors(form.postCode)}}
		</div>
		<div class="md-form">
			{{ form_row(form.startTime) }}
		</div>
		<div class="md-form">
			{{ form_row(form.endTime) }}
		</div>



		
		<center>
			{{form_end(form)}}
		</center>


		<script>
			$('.my-time-picker').pickatime({});
			$(document).ready(function () {




				$('.mdb-select').material_select();
			});
		</script>

	</div>

{%endblock%}